/*[[${'#'+componentId+'.wordBanner' }]]*/
{
    background:/*[[${bgColor}]]*/ seashell;
}

/*[[${'#'+componentId+'.wordBanner p' }]]*/
{
    color:/*[[${subTitleTextColor}]]*/ transparent;
    font-weight:/*[[${textBold}?'bold':'nomarl']]*/ normal;
    font-size:/*[[${subTitleFontSize+'px'}]]*/ 14px;
}

/*[[${'#'+componentId+'.wordBanner a' }]]*/
{
    color:/*[[${titleTextColor}]]*/ transparent;
    font-size:/*[[${titleFontSize+'px'}]]*/ 14px;
}
