/*[[${'#'+componentId}]]*/.wordBanner{
    color:/*[[${pagingTColor}]]*/ transparent;
    font-weight:/*[[${textBold}?'bold':'nomarl']]*/ normal;
    font-size:/*[[${textFontSize+'px'}]]*/ 14px;
    background:/*[[${textBgColor}]]*/ seashell;
}
