.[[${componentId}]].wordBanner{
    color:[[${properties['pagingTColor']}]];
    font-weight:[[${properties['textBold']}?'bold':'nomarl']];
    font-size:[[${properties['textFontSize']}]];
    background-:[[${properties['textBgColor']}]];
}
