<div class="borderBoxs">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">标题内容</label>
            <div class="col-sm-9">
                <input type="text" name="textTitle" class="form-control textTitle" th:value="${textTitle}" value=""
                       data-type="title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">副标内容</label>
            <div class="col-sm-9">
                <textarea name="textSubTitle" th:text="${textSubTitle}" text=""  class="form-control textSubTitle"
                          rows="3" data-type="subTitle"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">标题颜色</label>
            <div class="col-sm-2">
                <input type="text" name="titleTextColor" th:value="${titleTextColor}" value=""
                       class="form-control color-picker titleTextColor" data-type="titleTextColor">
            </div>
            <label class="col-sm-2 control-label">副标颜色</label>
            <div class="col-sm-2">
                <input type="text" name="subTitleTextColor" th:value="${subTitleTextColor}" value=""
                       class="form-control color-picker subTitleTextColor" data-type="subTitleTextColor">
            </div>
            <label class="col-sm-2 control-label">背景颜色</label>
            <div class="col-sm-2">
                <input type="text" name="bgColor" th:value="${bgColor}" value=""
                       class="form-control color-picker bgColor" data-type="bgColor">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">标题大小</label>
            <div class="col-sm-2 text-center">
                <input type="range" name="titleFontSize" th:value="${titleFontSize}" value=""
                       class="subTitleFontSize" min="12"   max="40" data-type="subTitleFontSize">
                <span class="fontSizeView" th:text="${textFontSize}">21</span>
            </div>
            <label class="col-sm-2 control-label">副标字大小</label>
            <div class="col-sm-2 text-center">
                <input type="range" name="subTitleFontSize" th:value="${subTitleFontSize}" value=""
                       class="subTitleFontSize" min="12"   max="40" data-type="subTitleFontSize">
                <span class="fontSizeView" th:text="${textFontSize}">21</span>
            </div>
            <label class="col-sm-2 control-label">是否粗体</label>
            <div class="col-sm-2 checkbox">
                <label><input name="textBold" th:checked="${textBold}" type="checkbox" class="textBold">启用</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">跳转链接</label>
            <div class="col-sm-9">
                <input type="text" name="linkUrl" th:value="${linkUrl}" value="" class="form-control linkUrl"
                       data-type="url">
            </div>
        </div>
    </form>
</div>